/* Remove TinyMCE branding from lower-right corner of editor. */
.tox-statusbar__branding {
	display:none;
	}

/* Ensure admin menu doesn't obscure fullscreen editor. */
#adminmenumain {
    position: absolute;
    z-index: -1;
}
